.sidebar{
    background-color: #fff;
    min-height: 100vh;
    border-right: 1px solid rgba(0,0,0,.0625);
    padding: 0 !important;
    margin: 0;
}

.title-logo{
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    color: #3f6ad8;
    position: relative;
    margin: 0;
    padding: 0;
    height: 32px;
}
.navbar-cus{
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0625);
    display: block !important;
}

.nav-right{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none
}
.link-user:hover .user-name-in{
    text-decoration: none;
}
.img-user{
    border-radius: 50%;
    width: 2rem;
    margin-right: 10px;
}

.user-name-in{
    color: #313435;
    font-size: .87rem;
   
}


.main-body{
    background-color: #f9fafb;
    height: 100%
}



.img-logout{
    width: 1.5rem;
    margin:0 1.5rem;
}


.sidebar-menu{
    list-style: none;
    overflow: hidden !important;
    position: relative;
    margin: 0 0 0 2.5rem;
    padding: 0;
    float: left;
}

.sidebar-menu li{
    position: relative;
    margin: 1.5rem 0;
    padding: 15px 0px;
}


.sidebar-link{
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px;
    position: relative;
    color: #72777a !important;
    text-decoration: none !important;
}

.icon-holder{
    float: left;
}
.icon-holder img{
    border-radius: 6px;
    display: inline-block;
    font-size: 17px;
    height: 35px;
    line-height: 35px;
    margin-right: 2rem;
    position: relative;
    text-align: center;
    width: 35px;
}



.sidebar-tt{
    float: left;
    line-height: 35px;
}


.mg-T30{
    margin-top: 30px;
}