* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
    box-sizing: border-box;
}

.Login {
    min-height: 100vh;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 360px;
    background: #fff;
    height: 580px;
    padding: 80px 40px;
    border-radius: 10px;
    position: relative;

    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}

.login-form h1 {
    text-align: center;
    margin-bottom: 60px;
}

.form-group {
    position: relative;
    margin: 30px 0;
}

.form-group input {
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
    border-bottom: 1px solid #ccc;
}


.login-btn {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(to right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background-position: right;
    background-size: 300%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: 1s;
    border-radius: 30px;
    margin-top: 50px;
}

.login-btn:hover {
    background-position: left;
}

.form-text {
    white-space: nowrap;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 13px;
}